
@model IEnumerable<WebMovie.Models.NAMPHATHANH>
@{
    ViewBag.Title = "Namph";

}
<p class="sb-title" style="font-weight: 600;"> Năm phát hành</p>
<div class="list-group" style="font-size: 16px; font-weight: 600;">
    @foreach(var item in Model)
    {
        <a href="@Url.Action("SPTheoNamph", "Movie", new { id = item.MaNam })">
            @item.Nam |
        </a>
    }
</div>
