@{
    ViewBag.Title = "About";
}
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>

<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span>10.00</span> /10<br>
                                <span class="rv">5 lượt xem</span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Đánh giá: </p>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

