@{
    ViewBag.Title = "About";
}
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>

<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="/FileUpload/Images/2022/3/spiderman-no-way-home.jpg" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"><i class="ion-play"></i>Xem phim</a></div>
                            <div><a href="/watch/spider-man-no-way-home/7f2c9dde4b80e45394a2fd00195b1b0d" class="item item-2 redbtn"><i class="ion-play"></i>Xem ngay</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">Spider-Man No Way Home<span>2021</span></h1>
                    <div class="social-btn">

                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Chia sẻ</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span>10.00</span> /10<br>
                                <span class="rv">5 lượt xem</span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Đánh giá: </p>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                            <i class="ion-ios-star"></i>

                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Tổng quan</a></li>
                                <li><a href="#moviesrelated">Phim liên quan</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p class="text-justif">Spider-Man: No Way Home (tiếng Việt: Người Nhện: Không còn nhà) là một bộ phim siêu anh hùng năm 2021 của Mỹ dựa trên nhân vật Peter Parker của Marvel Comics, do Columbia Pictures và Marvel Studios đồng sản xuất và được phân phối bởi Sony Pictures Releasing. Bộ phim là phần tiếp theo của Người Nhện: Trở về nhà (2017) và Người Nhện xa nhà (2019) và là phần phim thứ 27 của Vũ trụ Điện ảnh Marvel (MCU).</p>
                                            <div class="title-hd-sm">
                                                <h4>Đạo diễn</h4>
                                                <a href="#" class="time">Xem chi tiết<i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <div class="mvcast-item">

                                                <div class="cast-it">
                                                    <div class="cast-left">

                                                        <a href="#">Jon Watts</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Diễn viên</h4>
                                                <a href="#" class="time">Xem chi tiết<i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <div class="mvcast-item">

                                                <div class="cast-it">
                                                    <div class="cast-left">

                                                        <a href="#">Tom Holland</a>
                                                    </div>
                                                </div>

                                                <div class="cast-it">
                                                    <div class="cast-left">

                                                        <a href="#">Zendaya</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Thể loại:</h6>
                                                <p>

                                                    <a href="#">Hành động </a>,

                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Ngày phát hành:</h6>
                                                <p>
                                                    2021
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Công ty sản xuất:</h6>
                                                <p>
                                                    Columbia Pictures . Marvel Studios Pascal Pictures
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Ngôn ngữ:</h6>
                                                <p>
                                                    Tiếng Anh
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Quốc gia:</h6>
                                                <p>
                                                    Việt Nam
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Thẻ tag:</h6>
                                                <p class="tags">

                                                    <span class="time"><a href="#">phim hành động hay </a></span>,

                                                    <span class="time"><a href="#">phim hành động Mỹ </a></span>,

                                                    <span class="time"><a href="#">series phim Người Nhện </a></span>,

                                                </p>
                                            </div>
                                            <div class="ads">
                                                <img src="/user_assets/images/uploads/banner_img.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <iframe width="885" height="498" src="https://www.youtube.com/embed/Fva_W_AF0IM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                   
                                    <iframe width="885" height="498" src="https://www.2embed.to/embed/tmdb/tv?id=85937&s=1&e=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

