@{
    ViewBag.Title = "Contact";
}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Phim theo thể loại</h1>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Tìm thấy:  <span>2</span> phim với thể loại này "Hành động"</p>
                </div>
                <div class="flex-wrap-movielist">

                    <div class="movie-item-style-2 movie-item-style-1">
                        <img src="/FileUpload/Images/2022/3/spiderman-no-way-home.jpg" alt="Spider-Man No Way Home">
                        <div class="hvr-inner">
                            <a href="/film-detail/spider-man-no-way-home/7f2c9dde4b80e45394a2fd00195b1b0d">Xem chi tiết <i class="ion-android-arrow-dropright"></i></a>
                        </div>
                        <div class="mv-item-infor">
                            <h6><a href="/film-detail/spider-man-no-way-home/7f2c9dde4b80e45394a2fd00195b1b0d">Spider-Man No Way Home</a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span>10.00</span> /10</p>
                        </div>
                    </div>

                    <div class="movie-item-style-2 movie-item-style-1">
                        <img src="/FileUpload/Images/2022/3/3690_attack-on-titan-part-2-2015_photo_portrait-435_627.jpg" alt="Attack on Titan">
                        <div class="hvr-inner">
                            <a href="/film-detail/attack-on-titan/b5fb24a4c740cf186069782d150d1b5e">Xem chi tiết <i class="ion-android-arrow-dropright"></i></a>
                        </div>
                        <div class="mv-item-infor">
                            <h6><a href="/film-detail/attack-on-titan/b5fb24a4c740cf186069782d150d1b5e">Attack on Titan</a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span>0.00</span> /10</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>