
@model IEnumerable<WebMovie.Models.THELOAI>
@{
    ViewBag.Title = "Theloai";

}
<div style="margin-top:30px;" >
    <p class="sb-title" style="font-weight: 600;"> Thể loại</p>
    <div class=" celeb-author" style="font-size: 16px; font-weight: 600;">
        @foreach (var item in Model)
        {
          
                <a href="@Url.Action("SPTheotheloai", "Movie", new { id = item.MaTL })"@* style="color:white"*@>
                    @item.TenTL |
                </a>
        }
    </div>
</div>